---
import { Image } from "astro:assets";
import pleniluniaLogo from "../../assets/Hospi-con-texto-correcion-2.png";
import Button from "../Button.astro";
import YouTubePlayer from "../YouTubePlayer.astro";

//const sectionStyles = `landing-section bg-purple h-screen w-screen text-center overflow-hidden overflow-y-hidden relative`;
const sectionStyles = `landing-section bg-bg-gray  w-screen flex  justify-center pt-0 px-8 relative `;
const {
  videoId = "0k9FbACPenQ",
  title = "Ocultar una infección hospitalaria complica la defensa legal de un profesional de la salud",
} = Astro.props;
const thumbnail = `https://img.youtube.com/vi/${videoId}/hqdefault.jpg`;
const url = "https://www.youtube.com/embed/0k9FbACPenQ?si=kWbF74RhI0rBO17S";
---

<section class={sectionStyles} data-header-color={`bg-gray`} id="que-es-2">
  <div
    class="flex flex-col items-center justify-center h-full space-y-8 z-10 relative"
  >
    <div class="flex flex-col">
      <div class="flex mb-6 mt-20 flex-col md:flex-row">
        <div
          class="flex flex-col text-black-text text-lg min-w-[50%] max-w-[947px] px-[5%]"
        >
          <YouTubePlayer url={url} title={title} />
          
          <p class="md:px-8">
            <strong>Comparte, aprende y relaciónate </strong>con los mejores
            especialistas en vigilancia epidemiológica, infectología, calidad y
            seguridad del paciente
          </p>
          <div class="flex justify-center mt-12">
            <Button href="#registro" label="REGÍSTRATE" />
          </div>
        </div>

        <div class="flex min-w-[50%] justify-center items-center py-12 md:py-0">
          <Image
            src={pleniluniaLogo}
            alt="Collage médico y enfermera"
            width={750}
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
