---
import Noticias from "../molecules/NoticiasMenu.astro";

const menuItems = [
  { label: "Notas", href: "#notas" },
  { label: "Multimedia", href: "#multimedia" },
];
---

<section class={sectionStyles} data-header-color={`bg-gray`} id="noticias">
  <div class="flex flex-col gap-[26px] w-full max-w-7xl mx-auto px-2 sm:px-4 md:px-0" style="border: 3px solid black;">
    <div class={principalDivStyles} style="border: 3px solid red;">
      <div class={secondaryDivStyle} style="border: 3px solid blue;">
          <a href="#notas" class={buttonStyles} style="border: 3px solid green;"> 
            <p class={buttonTextStyles}>Notas</p>
            <div class={formsStyles} style="border: 3px solid purple;">
              <p>
                SVG
              </p>
            </div>
          </a>
        </div>
      </div>
    <div
      class={principalDivStyles} style="border: 3px solid red;"
    >
      <div class={secondaryDivStyle} style="border: 3px solid blue;">
          <a href="#multimedia" class={buttonStyles} style="border: 3px solid green;"> 
            <p class={buttonTextStyles}>Multimedia</p>
            <div class={formsStyles} style="border: 3px solid purple;">
              <p>
                SVG
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<Noticias items={menuItems} />
