---
import { Image } from "astro:assets";
import maribel from "../../assets/Maribel1.png";
import jose from "../../assets/Jose1.png";

//const sectionStyles = `landing-section bg-purple h-screen w-screen text-center overflow-hidden overflow-y-hidden relative`;
const sectionStyles = `landing-section bg-bg-gray min-h-screen w-screen flex items-center justify-center pt-24 relative overflow-y-hidden`;
const nameStyles = 'text-xl font-bold mt-[22px]';
const textContainerStyles = 'flex flex-col text-black-text text-base min-w-[45%] max-w-[710px]';
---

<section class={sectionStyles} data-header-color={`bg-gray`} id="quienes-somos">
    <div
        class="flex flex-col items-center justify-center pl-[116px] h-full mt-[99px] z-10 relative"
    >
        <div class="flex flex-col">
            <div class="flex flex-row items-start mb-6 md:flex-row">
                <div
                    class="flex min-w-[20%] justify-start items-center md:py-0"
                >
                    <Image
                        src={maribel}
                        alt="Maribel Ramírez Coronel"
                        width={216}
                        height={239.08}
                        loading="lazy"
                    />
                </div>
                <div
                    class="pr-[397px]" class={textContainerStyles}
                >
                    <h2 class={nameStyles}>Maribel Ramírez Coronel</h2>
                    <p class="hidden mt-4 mb-[67px] leading-relaxed md:flex md:flex-col">
                        Periodista especializada en asuntos de salud pública e industria de la salud; autora de la columna “Salud y Negocios” del periódico El Economista. Desde 2021 fundó y hoy dirige la Iniciativa Hospitales sin Infecciones enfocada a visibilizar el problema de las infecciones asociadas a la atención de la salud y la resistencia antimicrobiana. Desde 2004 fundó y hoy dirige la plataforma especializada en contenidos de salud femenina Plenilunia.<br><br>

                        Es comentarista sobre temas de salud pública en diferentes medios de comunicación.<br><br>

                        Es titulada en Ciencias de la Comunicación por la Universidad Autónoma Metropolitana (UAM), con Maestría en Administración en Sistemas de Salud en la Facultad de Administración de la UNAM. Se especializó en periodismo de finanzas y negocios cursando varios diplomados.
                    </p>
                </div>
            </div>
            <div class="flex mb-6 flex-row items-start md:flex-row">
                <div
                    class="flex min-w-[20%] justify-start items-center md:py-0"
                >
                    <Image
                        src={jose}
                        alt="José Luis Cárdenas Tomazic"
                        width={216}
                        height={237.08}
                        loading="lazy"
                    />
                </div>
                <div
                    class="pr-[396px]"
                    class={textContainerStyles}
                >
                    <h2 class={nameStyles}>José Luis Cárdenas Tomazic</h2>
                    <p class="hidden mt-4 mb-[67px] leading-relaxed md:flex md:flex-col">
                        Es especialista en políticas públicas de salud con amplia trayectoria en América Latina, donde ha impulsado estrategias que conectan regulación sanitaria y acceso efectivo a la salud.<br><br>

                        Ha construido puentes entre instituciones públicas, sector privado y organismos multilaterales, promoviendo convergencia regulatoria, innovación y sostenibilidad.<br><br>

                        Columnista del periódico mexicano El Economista, integra conocimiento jurídico, de políticas públicas, sanitario y estratégico con visión crítica y transformadora.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
